#title {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
    font-size: .8em;
    margin: 10px;
}
.info-container {
	padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: white;
    margin-top: 10px;
}

#picture {
  img {
    width:100%;
  }
}

.img-show {
    width: 100%;
}
