.cards {
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px, 60px;
  background-color: white;
}


.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.main_container{
  width: 700px;
  margin: auto;
}

.div_btn{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn_green {
  background: #1BCB7F;
  color: white;
  margin: 10px;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn_red {
  background: red;
  color: white;
  margin: 10px;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.title{
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
    background-image: linear-gradient(to left, purple, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }

  to {
    background-image: linear-gradient(to left, purple, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

.title2{
   font-family: Montserrat, sans-serif;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
    background-image: linear-gradient(to left, purple, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }

  to {
    background-image: linear-gradient(to left, purple, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

.text_design{
  margin: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px 0px;
  margin-bottom: 50px;
}

.info_resa{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.status{
  color: green;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.date{
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-pricing{
  vertical-align: content;
}


.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}





@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');


