<div>
  <% @artworks.each do |artwork| %>
  <h1><%= artwork.title %></h1>
  <p><%= artwork.description %></p>
  <ul>
    <li>Dimensions : <%= artwork.dimension %></li>
    <li>Category : <%= artwork.category %></li>
  </ul>
  <% end %>
</div>
