<div class="container">
  <% @artwork.title %> (<% @artwork.category %>)
</div>
<div class="container">
  <%= cl_image_tag @article.photo.key, height: 300, width: 400 %>
</div>


<div class="container">
  <% @artwork.description %>
</div>

<div class="container">
  <% @artwork.description %>
</div>

