<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active"><%= link_to 'All artworks', artworks_path(@artwork) %></a>
  </li>
  <li>
    <a href="#" class="tab-underlined"><%= link_to 'My artworks', my_artworks_artworks_path %></a>
  </li>
  <li>
    <a href="#" class="tab-underlined"><%= link_to 'My rentals', new_artwork_path(@artwork) %></a>
  </li>
</ul>
