<!-- On pourra mettre la classe active en condition 'active' if current_page?(artworks_path) dans chaque elmnt de li-->
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Artworks</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">My artworks</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">My ads</a>
  </li>
</ul>